@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* /* .inputForm:focus,
.inputForm:valid {
  border-color: #3a3335;
} */

/* .inputForm:focus + .label-line,
.inputForm:valid + .label-line {
  border-color: #3a3335;
  transform: translate(-15px, -16px) scale(0.8);
} */
